/* ===========================
          FOOTER
=========================== */

.footer{

    background:#0d1117;

    color:#ffffff;

    padding:70px 70px 25px;
}

/* ===========================
      FOOTER CONTAINER
=========================== */

.footer-container{

    display:grid;

    grid-template-columns:2fr 1fr 1fr 1fr;

    gap:60px;

    margin-bottom:50px;
}

/* ===========================
        LOGO
=========================== */

.footer-logo{

    width:140px;

    margin-bottom:20px;
}

.footer-box p{

    color:#c9d1d9;

    line-height:1.8;

    font-size:15px;
}

/* ===========================
        HEADINGS
=========================== */

.footer-box h3{

    color:#22c55e;

    margin-bottom:22px;

    font-size:20px;
}

/* ===========================
        LINKS
=========================== */

.footer-box ul{

    list-style:none;
}

.footer-box ul li{

    margin-bottom:15px;
}

.footer-box ul li a{

    color:#c9d1d9;

    text-decoration:none;

    transition:.3s;
}

.footer-box ul li a:hover{

    color:#22c55e;
}

/* ===========================
      SOCIAL LINKS
=========================== */

.social-links{

    display:flex;

    flex-direction:column;

    gap:15px;
}

.social-links a{

    color:#c9d1d9;

    text-decoration:none;

    transition:.3s;
}

.social-links a:hover{

    color:#22c55e;
}

/* ===========================
      COPYRIGHT
=========================== */

.footer-bottom{

    border-top:1px solid rgba(255,255,255,.1);

    padding-top:20px;

    text-align:center;
}

.footer-bottom p{

    color:#8b949e;

    font-size:14px;
}